<mat-tab-group mat-align-tabs="center">
  <mat-tab label="First"
    >Content 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
    perferendis voluptates nisi distinctio eveniet modi tempora aliquid
    assumenda vero iste, ratione, ipsa odit. Quidem maxime vitae ipsa, esse
    officiis et.</mat-tab
  >
  <mat-tab label="Second"
    >Content 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nam
    alias assumenda sunt! Quis explicabo ex molestiae eveniet magnam inventore,
    praesentium numquam soluta doloremque deleniti repellendus saepe pariatur?
    Similique, iure.</mat-tab
  >
  <mat-tab label="Third"
    >Content 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
    repellendus iusto, amet facilis, voluptatem, qui vitae necessitatibus animi
    voluptas eligendi nostrum non nisi nihil totam officiis sapiente. Non,
    commodi possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    At, ad reiciendis labore veritatis cupiditate aliquid dolores natus officiis
    iusto. Numquam laudantium amet sequi nostrum perspiciatis illum officiis
    accusamus cum sunt. Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Libero itaque aliquid eos explicabo nam facere quos perferendis
    voluptatem natus officia! Esse voluptates quam iste, ut adipisci nesciunt
    consectetur ad aliquid.</mat-tab
  >
</mat-tab-group>
