<mat-tab-group mat-align-tabs="center">
  <mat-tab label="First"
    >Content 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
    perferendis voluptates nisi distinctio eveniet modi tempora aliquid
    assumenda vero iste, ratione, ipsa odit. Quidem maxime vitae ipsa, esse
    officiis et.</mat-tab
  >
  <mat-tab label="Second"
    >Content 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nam
    alias assumenda sunt! Quis explicabo ex molestiae eveniet magnam inventore,
    praesentium numquam soluta doloremque deleniti repellendus saepe pariatur?
    Similique, iure.</mat-tab
  >
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>
